@import "../../Styles/common.scss";

.Login {
  display: flex;
  align-content: center;
  justify-content: center;

  .loginContainer {
    * {
      font-family: Neue-HaasGrotesk-Text, Arial, sans-serif;
    }
    width: 491.922px;

    .menuTabs {
      display: flex;
      justify-content: center;
      justify-content: space-between;

      li {
        cursor: pointer;
        font-weight: 700;
        font-size: calc(13rem / 16);
        line-height: calc(16rem / 16);
      }
    }
  }
}
