.PaymentEmail {
  display: flex;
  margin-top: 30px;
  background-color: yellowgreen;
  aside {
    div {
      padding-left: 25px;
    }
  }
  main {
    width: 513px;
    background-color: salmon;
    padding: 0 25px 0 37px;
  }
}
