.ShoppingMethod {
  font-size: 10px;
  width: 452px;
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .changeContry {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin: 15px 3px 0 3px;
    button {
      &:hover {
        font-weight: 800;
      }
    }
  }

  .shipToAdress {
    .half {
      display: inline-block;
      width: 4%;
    }

    .placeholderContainor,
    .placeholderContainorhalf {
      position: relative;
      display: flex;
      justify-self: start;
      align-items: flex-end;
      height: 50px;
      background: transparent;

      select,
      input {
        position: absolute;
        border: 0;
        width: 100%;
        border-bottom: 1px solid black;
        padding-top: 30px;
        background: transparent;
      }

      select {
        bottom: 3px;
        font-size: 10px;
      }

      p {
        height: 27px;
        padding-bottom: 3px;
        color: #9a9a9a;
      }

      .inputFocusOut {
        border-bottom: 1px solid #ff0000;
        &::placeholder {
          font-size: 10px;
          color: #ff0000;
          opacity: 1;
        }
        &:focus {
          border-bottom: 1px solid black;
          &::placeholder {
            color: white;
            opacity: 0;
          }
        }
      }
    }

    .placeholderContainor {
      width: 100%;
    }

    .placeholderContainorhalf {
      display: inline-block;
      width: 48%;
      p {
        padding-top: 20px;
      }
    }

    input {
      &::placeholder {
        font-size: 10px;
        color: white;
        opacity: 0;
      }
    }
  }

  .collectInStore {
    .adress {
      display: flex;
      label {
        position: relative;
        top: 2px;
        width: 100%;
      }
      h3 {
        font-weight: 800;
        span {
          font-weight: 400;
        }
      }
      h3,
      p {
        position: relative;
        line-height: 12px;
        span {
          position: absolute;
          right: 0;
        }
      }
    }
    .text {
      margin-top: 25px;
      margin-bottom: 15px;
    }
    .title {
      width: 145px;
    }

    .contryCode {
      width: 222px;
    }

    .firstName {
      width: 299px;
    }

    .contactPhone {
      width: 222px;
    }
    input[type="radio"] {
      width: 30px;
    }
    select {
      border: 0;
      border-bottom: 1px solid black;
      font-size: 10px;
      margin-right: 5px;
    }
  }

  .continue {
    width: 100%;
    height: 40px;
    font-size: 10px;
    color: white;
    margin-top: 50px;
    background-color: black;

    &:hover {
      font-weight: 400;
    }

    &:disabled {
      border: 1px solid black;
      color: black;
      background-color: white;
    }
  }
  input[type="checkbox"] {
    width: 10px;
    margin-top: 30px;
  }
  label {
    position: relative;
    top: -3.3px;
    vertical-align: middle;
  }
}
