@import "../../Styles/common.scss";

@font-face {
  font-family: "Neue Haas Grotesk-Bold";
  src: local("Neue-HaasGrotesk-Text"), url("/public/") format("woff2"),
    url("/Font/NeueHaasGroteskText-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Neue Haas Grotesk-Regular";
  src: local("Neue-HaasGrotesk-Text"), url("/public/") format("woff2"),
    url("/Font/NeueHaasGroteskText-Regular.otf") format("opentype");
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexBtwn {
  display: flex;
  justify-content: space-between;
}

@mixin hassBold {
  font-family: Neue Haas Grotesk-Bold, Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
}

@mixin hassBoldSmall {
  font-family: Neue Haas Grotesk-Bold, Arial, sans-serif;
  font-size: calc(10rem / 16);
  line-height: 13px;
}

@mixin hassRegular {
  font-family: Neue Haas Grotesk-Regular, Arial, sans-serif;
  font-size: calc(10rem / 16);
  line-height: 13px;
}

@mixin buttonNone {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

button {
  @include hassRegular;
  padding: 0;
}

.wishList {
  display: flex;
  justify-content: center;

  .wishWhole {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;

    .wishBox {
      @include hassRegular;

      .purchaseSec {
        width: 1080px;
        display: flex;
        justify-content: flex-end;

        .purchaseBox {
          width: 330px;

          .purchaseTotal {
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            border-bottom: 1px solid black;
            margin-bottom: 20px;

            .priceTotal {
              @include hassBoldSmall;
            }
          }

          .purchaseInfo {
            table {
              width: 330px;
              line-height: 22px;
              margin-bottom: 40px;
            }
            td {
              text-align: right;
            }
            .payIcons {
              img {
                width: 44px;
                height: 28px;
                margin-right: 5px;
              }
            }

            .checkout {
              width: 330px;
              height: 40px;
              margin-top: 10px;
              margin-bottom: 50px;
              color: white;
              background-color: black;
            }
          }
        }
      }

      .wishHeader {
        @include flexBtwn;
        width: 1080px;
        margin-bottom: 30px;

        .title {
          @include flexBtwn;
          @include hassBold;
          border-bottom: 1px solid black;
          padding-bottom: 5px;
          width: 740px;

          div {
            width: 740px;
          }

          button {
            @include buttonNone;
          }
        }
        .selectAll {
          @include flexBtwn;
          width: 330px;
          margin-left: 10px;
          div {
            width: 175px;
          }

          .logOut {
            position: relative;

            button {
              position: absolute;
              right: 0;
            }
          }
        }
      }
    }
  }
}

.itemWishList {
  display: flex;
  flex-direction: row;
  width: 1160px;

  .itemImage {
    width: 740px;
    height: 185px;

    img {
      margin-right: 10px;
      margin-bottom: 10px;
      width: 175px;
    }
  }
}

.itemBox {
  margin-left: 10px;
  width: 330px;

  .itemDetail {
    @include flexBtwn;
    position: relative;
    width: 330px;

    button {
      @include buttonNone;
    }

    .itemData {
      height: 50px;

      .quantity {
        display: flex;
        flex-direction: row;

        button {
          font-size: 13px;
          width: 20px;
        }
      }
    }
    .itemPrice {
      @include hassBoldSmall;
      margin-bottom: 10px;
    }

    .remove {
      position: absolute;
      right: 0;
    }
  }
}

.checkboxContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;

  .checkArea {
    background-color: rgba(255, 255, 255, 0);
    z-index: 10;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
  }

  .checkboxOff {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin-right: 5px;
    background-color: white;
    z-index: 100;
  }

  .checkboxOn {
    position: relative;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    margin-right: 5px;

    .check {
      position: absolute;
      left: 1.25px;
      top: 1.25px;
      background-color: black;
      width: 6px;
      height: 6px;
    }
  }
}
.slide {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.slide {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.none {
  display: none;
}
