/** @format */
@import "../../Styles/common.scss";

@font-face {
  font-family: "Neue Haas Grotesk-Bold";
  src: local("Neue-HaasGrotesk-Text"), url("/public/") format("woff2"),
    url("http://localhost:3000/Font/NeueHaasGroteskText-Bold.otf")
      format("opentype");
}

@font-face {
  font-family: "Neue Haas Grotesk-Regular";
  src: local("Neue-HaasGrotesk-Text"), url("/public/") format("woff2"),
    url("http://localhost:3000/Font/NeueHaasGroteskText-Regular.otf")
      format("opentype");
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexBtwn {
  display: flex;
  justify-content: space-between;
}

@mixin hassBold {
  font-family: Neue Haas Grotesk-Bold, Arial, sans-serif;
  font-size: calc(10rem / 16);
  line-height: 13px;
}

@mixin hassRegular {
  font-family: Neue Haas Grotesk-Regular, Arial, sans-serif;
  font-size: calc(10rem / 16);
  line-height: 13px;
}

@mixin buttonNone {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}

.wishList {
  display: flex;
  justify-content: center;
}

button {
  @include hassRegular;
}

.wishWhole {
  display: flex;
  justify-content: space-around;
  margin-top: 130px;
}

.wishNav {
  @include hassBold;
  font-size: calc(13rem / 16);
  line-height: 20px;
  width: 200px;
}

.wishBox {
  @include hassRegular;
}

.itemWishList {
  display: flex;
  flex-direction: row;
  width: 850px;
}

.wishHeader {
  @include flexBtwn;
  width: 850px;
  margin-bottom: 30px;
}

.purchase {
  @include flexBtwn;
  border-bottom: 1px solid black;
  width: 520px;
  div {
    width: 260px;
  }
  button {
    @include buttonNone;
    position: absolute;
    right: 0;
  }
}

.selectAll {
  @include flexBtwn;
  margin-left: 10px;
  width: 330px;
  div {
    width: 165px;
  }
  button {
    @include buttonNone;
  }
}

.logOut {
  position: relative;
  button {
    position: absolute;
    right: 0;
  }
}

.itemImage {
  width: 520px;
  img {
    margin: 5px;
    width: 110px;
  }
}

.wishHeader {
  @include flexBtwn;
  width: 330px;
}

.itemBox {
  margin-left: 10px;
  width: 330px;
}

.itemDetail {
  @include flexBtwn;
  position: relative;
  width: 330px;
  button {
    @include buttonNone;
  }
}

.item {
  margin-bottom: 10px;
}

.select {
  margin-top: 20px;
}

.remove {
  position: absolute;
  right: 0;
}

.buttonDiv {
  position: relative;
}

.checkboxWrapper {
  position: relative;
}

.checkboxWrapper label {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}

.checkboxWrapper label:before,
.checkboxWrapper label:after {
  pointer-events: none;
}

.checkboxWrapper label:before {
  display: flex;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid black;
  background-color: #fff;
  margin-right: 5px;
}

.checkboxWrapper label:after {
  position: absolute;
  top: 2.8px;
  left: 2.8px;
  display: flex;
  content: "";
  width: 7px;
  height: 7px;
  background: #000;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.checkboxWrapper input[type="checkbox"]:checked + label:after {
  transform: scale(1);
}

input[type="checkbox"] {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
}
