* {
  box-sizing: border-box;
  font-family: Neue-HaasGrotesk-Text, Arial, sans-serif;
  font-size: calc(10rem / 16);
  line-height: calc(13rem / 16);
  letter-spacing: calc(0.3rem / 16);
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  text-shadow: none;
  background: none;
  cursor: pointer;
}
@mixin moveCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}
@mixin flexColCen {
  display: flex;
  flex-direction: column;
}
@mixin flexRowCen {
  display: flex;
  justify-content: center;
}
