.Card {
  .container {
    margin-right: 10px;
    div {
      width: 320px;
      height: 760px;
      overflow: hidden;
      img {
        height: 100%;
        object-position: -93px;
      }
    }
    .cardNumber {
      padding-top: 8px;

      span {
        font-size: 11px;

        font-family: Neue Haas Grotesk Text Reg, sans-serif;
      }
    }
  }
}
