@import "../../../Styles/common.scss";

.LoginTab {
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    font-size: 11px;
  }

  .loginTabContainer {
    font-family: Neue-HaasGrotesk-Text, Arial, sans-serif;
    box-sizing: border-box;

    .loginInput {
      color: #767676;

      div {
        input {
          width: 491.922px;
          border: none;
          border-bottom: calc(1rem / 16) solid #000;
          padding: 0px;
          padding-top: 22px;
        }
      }
    }
    .checkBtn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .stayBtn {
        label {
          cursor: pointer;
        }
        input {
          margin-top: 21px;
          margin-bottom: 5px;
        }
      }
    }
    .submitBtn {
      button {
        padding-top: 20px;
      }
    }
  }
}
