@import "../../../Styles/common.scss";

.SignUpTab {
  display: flex;
  align-items: center;
  justify-content: center;

  .signUpTabContainer {
    width: 491.922px;
    * {
      font-size: 11px;
      font-family: Neue-HaasGrotesk-Text, Arial, sans-serif;
    }
    .signUpInput {
      input,
      select {
        width: 100%;
        border: none;
        border-bottom: calc(1rem / 16) solid #000;
        padding: 0px;
      }
      input {
        display: block;
        padding-top: 22px;
      }
      select {
        padding: 0px;
        padding-top: 22px;
      }
      .a {
        display: flex;
        width: 100%;

        .firstnameContainer {
          padding-left: 10px;

          .firstName {
            margin-top: 5px;
            border-bottom: calc(1rem / 16) solid #000;
          }
        }
      }
    }
    .agreeCheckBtn {
      .agreeEmail {
        margin-top: 13px;
        margin-bottom: 10px;
        label {
          cursor: pointer;
          padding-top: 3px;
        }
        input {
        }
      }

      .agreePolicy {
        label {
          padding: 0;
          cursor: pointer;

          a {
            text-decoration: underline;
            &:visited {
              color: #000;
            }
          }
        }
      }
      .submitBtn {
        margin-top: 13px;
        button {
          padding-top: 20px;
          padding-left: 0;
        }
      }
    }
    .policy {
      display: flex;
      flex-wrap: wrap;
      font-size: 11px;
      letter-spacing: 1px;
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }
}
