@import "../../Styles/common.scss";

.Option {
  @include flexColumn;
  position: relative;
  width: calc(50% - 5px);
  div {
    position: relative;
  }

  .optionNames {
    z-index: 1;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100%;
    background-color: #fafafa;
    animation: optionDown 0.1s ease;

    ul {
      li {
        display: flex;
        align-items: center;
        padding: 10px;
        font-weight: 400;

        &:hover {
          font-weight: 600;
          cursor: pointer;
        }

        img {
          width: 30px;
          height: 10px;
          padding-right: 10px;
        }
      }
    }
  }
  .inActiveOptions {
    display: none;
  }
  .selector {
    position: absolute;
    padding-top: 2px;
    border-bottom: 1px solid black;
    width: 100%;
    height: 20px;
    font-weight: 400;

    &:hover {
      font-weight: 600;
      cursor: pointer;
    }
  }
  .arrow {
    position: absolute;
    right: 2px;
    top: 2px;
    width: 5px;
    height: 5px;
    border-right: 1px solid rgb(118, 118, 118);
    border-bottom: 1px solid rgb(118, 118, 118);
    transform: rotate(45deg);

    @keyframes optionDown {
      from {
        top: 22px;
      }
      to {
        top: 32px;
      }
    }
  }
}
