.ShopListCol {
  display: flex;
  width: 100vw;
  padding: 20px;

  aside {
    width: 216px;
    height: 100%;
  }

  button {
    font-size: 10px;
    padding: 0;

    &:hover {
      font-weight: 800;
    }
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    nav {
      span,
      a {
        font-size: 10px;
        color: black;
        margin: 0 8px;
      }
      a:hover {
        font-weight: 800;
      }
    }
  }

  header {
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    height: 57px;
    width: 100%;
    font-size: 10px;
    padding: 22px 5px;
    background-color: white;
  }

  article {
    margin-top: 60px;
    ul {
      padding-right: 80px;

      li {
        display: flex;
        flex-wrap: wrap;
        padding: 0 5px;
      }
    }
  }
}
