@font-face {
  font-family: "Neue Haas Grotesk-Bold";
  src: local("Neue-HaasGrotesk-Text"), url("/public/") format("woff2"),
    url("/Font/NeueHaasGroteskText-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Neue Haas Grotesk-Regular";
  src: local("Neue-HaasGrotesk-Text"), url("/public/") format("woff2"),
    url("/Font/NeueHaasGroteskText-Regular.otf") format("opentype");
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin hassBold {
  font-family: Neue Haas Grotesk-Bold, Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: calc(1rem / 30);
}

@mixin hassRegular {
  font-family: Neue Haas Grotesk-Regular, Arial, sans-serif;
  font-size: calc(10rem / 16);
  line-height: 13px;
  letter-spacing: calc(1rem / 30);
}

a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}

.shopListRow {
  @include flexRow;
}

.shopLists {
  margin-left: 20vw;

  h1 {
    @include hassRegular;
  }

  span {
    @include hassRegular;
  }

  .listHeader {
    margin-top: 40px;
    margin-bottom: 70px;
    height: 30px;
  }

  .subNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    @include hassRegular;
  }
}
