.Shop {
  display: flex;
  width: 100vw;
  height: 805.81px;
  margin-top: 30px;
  padding: 0 27px;

  aside {
    width: 206px;
  }

  main {
    width: 100%;
    height: auto;

    ul {
      display: flex;
      height: 100%;

      li {
        width: 100%;
        flex-shrink: 4;
        transition: all 0.8s 0.1s;
        &:hover {
          flex-shrink: 1;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }

        a {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100%;
        }

        button {
          position: absolute;
          width: 100%;
          background-color: blue;
          span {
            display: block;
            width: 100%;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            color: white;
          }
        }
      }
    }
  }
}
