@import "../../Styles/common.scss";

.ShopDetails {
  @include flexColCen;
  padding: 0 27px;

  .detailWrapper {
    margin-left: 206px;

    .returnToListing {
      z-index: 2;
      position: sticky;
      display: flex;
      align-items: center;
      top: 0;
      height: 60px;
      background-color: white;

      a {
        color: black;
        text-transform: uppercase;
        font-family: Neue Haas Grotesk Text Reg, sans-serif;
        font-size: calc(10rem / 16);
        letter-spacing: calc(0.3rem / 16);

        &:hover {
          font-weight: 600;
        }
      }
    }

    .detailContainer {
      display: flex;
      justify-content: space-between;
      padding-bottom: 68px;

      .sidePanel {
        z-index: 1;
        position: absolute;
        top: 0;
        right: -27px;
        font-size: 10px;
        width: calc((((100% - 90px) / 10) * 4) + -20px);
        height: calc(100vh - 144px);
        padding-right: calc(((((100% - 90px) / 10) * 1) + 0px) + 37px);
        overflow: auto;
        background-color: #fff;
        animation-name: sidePanel;
        animation-timing-function: ease;
        animation-duration: 0.1s;
      }

      .hiddenPanel {
        display: none;
      }

      .detailedPictures {
        width: calc((((100% - 90px) / 10) * 6) + 60px);
        ul {
          display: flex;
          flex-wrap: wrap;

          .evenList {
            width: 50%;

            img {
              width: 100%;
              padding: 0 10px 10px 0;
            }
          }

          .oddList {
            width: 50%;
            margin-bottom: -3px;

            img {
              width: 100%;
              padding: 0 10px 10px 0;
            }
            &:last-child {
              width: 100%;
              img {
                padding-bottom: 0;
              }
            }
          }
          .clickedImg {
            z-index: 3;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      .itemDescriptions {
        position: sticky;
        top: 60px;
        height: calc(100vh - 205px);
        width: calc((((100% - 90px) / 10) * 4) + 30px);
        padding-right: calc(((((100% - 90px) / 10) * 1) + 0px) + 10px);
        font-family: Neue Haas Grotesk Text Bd, sans-serif;

        h1 {
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.02em;
        }
        p {
          margin-top: 28px;
          font-size: calc(10rem / 16);
          line-height: calc(13rem / 16);
          text-transform: uppercase;
          letter-spacing: calc(0.3rem / 16);
        }

        .productDetails {
          text-transform: uppercase;
          font-size: 10px;
          margin-top: 28px;
          &:hover {
            font-weight: 600;
          }
        }
        .optionWrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 25px;
          height: calc(100vh - 421px);
          .option {
            @include flexColumn;

            .optionLabel {
              @include flexRowCen;
              justify-content: space-between;
              font-weight: 600;
            }

            div {
              text-transform: uppercase;
              font-size: 10px;
              line-height: 13px;
            }

            .buttons {
              div {
                &:first-child {
                  margin-top: 28px;
                }
                &:hover {
                  font-weight: 600;
                  cursor: pointer;
                }
              }

              .addToWishlist {
                margin-top: 28px;
              }
              .saved {
                display: none;
                margin-top: 28px;
              }
            }
          }
          button {
            @include moveCenter;
            border: 1px solid black;
            height: 40px;
            margin-bottom: 10px;
            padding: 12px 10px 13px;
            text-transform: uppercase;
            background-color: black;
            color: white;

            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }

    .recentlyViewed {
      width: calc((((100% - 90px) / 10) * 6) + 60px);
      margin-top: 68px;
      h2 {
        font-family: Neue-HaasGrotesk-Text, Arial, sans-serif;
        font-weight: 600;
        font-size: calc(10rem / 16);
        text-transform: uppercase;
      }
      ul {
        display: flex;
        width: calc(100% + 11px);
        li {
          width: calc((((100% - 11px - 50px) / 6) * 1) + 0px);
          margin: 10px 10px 0 0;
          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }

    .itemDirectory {
      margin-top: 62px;
      padding-bottom: 78px;
      text-transform: uppercase;
      font-family: Neue-HaasGrotesk-Text, Arial, sans-serif;
      font-size: calc(10rem / 16);
      ul {
        display: flex;
        li {
          position: relative;
          &:not(:last-child) {
            margin-right: 12px;
          }
          &:not(:first-child) {
            padding-left: 18px;
          }
          &:not(:first-child)::before {
            position: absolute;
            content: "/";
            left: 0;
            top: 0;
          }
          &:hover {
            font-weight: 600;
            cursor: pointer;
          }
        }
      }
      a {
        color: black;
        &:hover {
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
  @keyframes sidePanel {
    from {
      right: -500px;
      opacity: 0;
    }
    to {
      right: -30px;
      opacity: 1;
    }
  }
  @keyframes optionDown {
    from {
      top: 22px;
    }
    to {
      top: 32px;
    }
  }
}
