/** @format */
@font-face {
  font-family: "Neue Haas Grotesk-Bold";
  src: local("Neue-HaasGrotesk-Text"), url("/public/") format("woff2"),
    url("http://localhost:3000/Font/NeueHaasGroteskText-Bold.otf")
      format("opentype");
}

@font-face {
  font-family: "Neue Haas Grotesk-Regular";
  src: local("Neue-HaasGrotesk-Text"), url("/public/") format("woff2"),
    url("http://localhost:3000/Font/NeueHaasGroteskText-Regular.otf")
      format("opentype");
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin hassBold {
  font-family: Neue Haas Grotesk-Bold, Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: calc(1rem / 30);
}

@mixin hassRegular {
  font-family: Neue Haas Grotesk-Regular, Arial, sans-serif;
  font-size: calc(10rem / 16);
  line-height: 13px;
  letter-spacing: calc(1rem / 30);
}

.shopListRow {
  @include flexRow;
}

.shopLists {
  margin-left: 20vw;
  h1 {
    @include hassRegular;
  }

  span {
    @include hassRegular;
  }
}

.listHeader {
  margin-top: 40px;
  margin-bottom: 70px;
  height: 30px;
}

.categoryHeader {
  @include flexRow;
  margin-bottom: 10px;
  padding-right: 30px;
  justify-content: space-between;
}

.categoryTitle {
  @include hassBold;
}

.itemlist {
  @include flexRow;
  overflow-x: scroll;
  white-space: nowrap;
  margin-bottom: 60px;
  p {
    @include hassRegular;
  }
}

.itemlist::-webkit-scrollbar {
  display: none;
}

.item {
  list-style: none;
  display: inline-block;
  p {
    overflow-wrap: break-word;
    width: 430px;
  }
  img {
    margin-right: 10px;
    width: 430px;
  }
}

.listBox {
  position: relative;
}

.rangeLeft {
  position: absolute;
  left: 0;
  width: 300px;
  height: 430px;
  z-index: 100;
}

.rangeRight {
  position: absolute;
  right: 0;
  width: 300px;
  height: 430px;
  z-index: 100;
}

.subNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
  @include hassRegular;
}
