.EmailGoods {
  font-size: 10px;

  img {
    width: 449px;
    height: 449px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: black;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  h3,
  p {
    height: 13px;
    color: black;
  }

  .price {
    font-weight: 800;
  }
}
