@import "../../Styles/common.scss";

.Video {
  width: 100%;
  padding: 0 27px;

  .wrapper {
    @include flexColumn;
    padding-left: 206px;
    iframe {
      height: calc(100em - 174px);
      max-height: calc(56.25vw - 145px);
      min-height: calc(50vw - 130px);
      width: 100%;
    }

    .description {
      @include flexColCen;

      .header {
        padding: 9px 0 2px;
      }

      .main {
        font-family: Neue-HaasGrotesk-Text, Arial, sans-serif;
        font-size: 10px;
        line-height: 13px;
      }
    }
  }
}
