@import "../../Styles/common.scss";

.Nav {
  z-index: 2;
  position: sticky;
  display: flex;
  flex-direction: column;
  bottom: -9.0625rem;
  justify-content: space-between;
  padding: 16px 27px 0;
  background-color: white;

  .searchResult {
    z-index: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 145px;
    width: 100%;
    padding: 20px;
    background-color: #fafafa;
    opacity: 1;
    overflow: auto;
    animation: menuFade 0.3s ease;

    .leftSpace {
      width: 12.875rem;
    }

    .rightSpace {
      position: relative;
      width: calc(100% - 12.875rem);
      padding: 0 0.3125rem;

      .noResult {
        display: flex;

        img {
          width: 50%;
        }

        h1 {
          margin: 18vh calc(10rem / 16);
          padding: 0 0.625rem;
          font-weight: 700;
          font-size: calc(13rem / 16);
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .sidePanel {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% / 24 * 8 + 12px);
    height: 100%;
    background-color: #fff;
    padding-top: calc(218rem / 16);
    animation: rightToLeft 1s ease;
  }

  .hiddenPanel {
    display: none;
  }

  .upper {
    z-index: 3;
    display: flex;
    overflow: hidden;
    background-color: white;

    .leftContainer {
      position: relative;
      display: flex;
      height: 149px;
      width: 100%;

      .logo {
        width: 12.875rem;
        img {
          width: 11.375rem;
          height: 2.4375rem;
        }
      }

      .navContainer {
        display: flex;
        width: calc(100% - 206px);

        ul {
          width: 220px;

          li {
            a {
              color: black;
              font-family: Neue-HaasGrotesk-Text, Arial, sans-serif;
              font-size: calc(10rem / 16);
              line-height: calc(13rem / 16);
              letter-spacing: calc(0.3rem / 16);

              &:hover {
                font-weight: 600;
              }
            }
          }
        }

        .searchInput {
          display: none;
        }

        .searchInputActive {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: space-between;
          height: 15px;
          border-bottom: 1px solid;
          animation: rightToLeft 0.3s ease;

          input {
            position: relative;
            right: 0;
            width: 100%;
            border: 0;
          }

          button {
            position: relative;
            right: 0;
          }
        }

        .FirstSubMenu li {
          animation: menuFade 1s ease-in both;
          opacity: 0;

          &:nth-of-type(1) {
            animation-delay: 0.15s;
          }

          &:nth-of-type(2) {
            animation-delay: 0.3s;
          }

          &:nth-of-type(3) {
            animation-delay: 0.45s;
          }

          &:nth-of-type(4) {
            animation-delay: 0.6s;
          }

          &:nth-of-type(5) {
            animation-delay: 0.75s;
          }

          &:nth-of-type(6) {
            animation-delay: 0.9s;
          }

          &:nth-of-type(7) {
            animation-delay: 1.05s;
          }

          &:nth-of-type(8) {
            animation-delay: 1.2s;
          }
        }

        .SecondSubMenu li {
          animation: menuFade 1s ease-in both;
          opacity: 0;

          &:nth-of-type(1) {
            animation-delay: 0.6s;
          }

          &:nth-of-type(2) {
            animation-delay: 0.75s;
          }

          &:nth-of-type(3) {
            animation-delay: 0.9s;
          }

          &:nth-of-type(4) {
            animation-delay: 1.05s;
          }

          &:nth-of-type(5) {
            animation-delay: 1.2s;
          }

          &:nth-of-type(6) {
            animation-delay: 1.35s;
          }

          &:nth-of-type(7) {
            animation-delay: 1.5s;
          }

          &:nth-of-type(8) {
            animation-delay: 1.65s;
          }
        }
      }
    }

    .rightContainer {
      position: relative;
      text-align: end;
      width: calc((100% / 7) - (10rem / 16));
      margin-left: auto;

      div button {
        padding: 0;

        a {
          color: black;
        }

        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  .bottom {
    display: flex;
    padding: 25px 0 25px 206px;

    .location {
      width: calc((100% + 0.625rem) / 7);
    }

    .messenger {
      width: calc((100% + 0.625rem) / 7);
    }

    .socialMedia {
      width: calc((100% + 0.625rem) / 7);
    }

    .newsletter {
      width: calc((100% + 0.625rem) / 7);
    }
  }

  div,
  button {
    text-transform: uppercase;
  }

  .invisible {
    display: none;

    div {
      display: none;
    }
  }

  @keyframes menuFade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes rightToLeft {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes leftToRight {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  @keyframes bottomToTop {
    from {
      bottom: 0;
    }
    to {
      top: 0;
    }
  }
}
